.contPpal{
    height:calc( 100vh - 10vh - 46px);
    background-color: #20a7d8;
    background-image: url("../../../public/images/fishes/fondo.jpg");
    background-position: top;
    background-size: cover;
    padding: 1vw;
    
}

